@import "tailwindcss";
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600;700&display=swap');

.font-kalnia {
  font-family: 'Kalnia', sans-serif;
}

body {
  color: var(--foreground, #000); /* fallback black */
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes progressBar {
  0% { width: 0%; }
  50% { width: 50%; }
  100% { width: 30%; }
}

.animate-progressBar {
  animation: progressBar 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}


webname {
  font-weight: 900;
  font-size: 2rem;
}

.custom-editor {
  height: 400px;
}

/* Keep toolbar fixed, editor content scrolls */
.custom-editor .ql-container {
  height: calc(100% - 42px) !important; /* 42px is toolbar height */
}

/* Only the text area scrolls */
.custom-editor .ql-editor {
  height: 100% !important;
  overflow-y: auto !important;
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --navbar-height: 44px;
}